workflows/13.json
[{
  "id": 13,
  "name": "Create New Transaction",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "createTransaction",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        440
      ],
      "webhookId": "45ea226a-1e6f-4df2-99c9-a78da4f41420"
    },
    {
      "parameters": {
        "functionCode": "var crypto = require('crypto');\nreturn items.map((item) => {\n  const result = {\n    json: {\n      data: item.json.body ? item.json.body.data : item.json.data,\n      publicKey: item.json.body ? item.json.body.publicKey : item.json.publicKey,\n      signature: item.json.body ? item.json.body.signature : item.json.signature,\n      author: item.json.body ? item.json.body.author: item.json.author,\n      createdAt: new Date(),\n    }\n  };\n  try {\n    const verifier = crypto.createVerify(\"rsa-sha256\"/*'rsa-sha256'*/);\n    if (typeof result.json.data === 'string') {\n      verifier.update(result.json.data, 'utf8');\n    } else {\n      verifier.update(JSON.stringify(result.json.data), 'utf8');\n    }\n    result.json.isValid = verifier.verify(result.json.publicKey, Buffer.from(result.json.signature, 'hex'));\n  } catch (e) {\n    result.json.isValid = false;\n    result.json.error = e.message;\n  }\n  return result;\n});\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        420
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"Function\"].json[\"isValid\"]}}",
              "value2": true
            }
          ],
          "string": []
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        760,
        320
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": true, \"message\": \"Invalid Signature or Unknown Identity\"}",
        "options": {
          "responseCode": 400
        }
      },
      "name": "Respond Invalid Signature",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1060,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 201
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "currentTransactions",
        "fields": "data, publicKey, signature, author, createdAt",
        "options": {}
      },
      "name": "Insert Into Current Transactions",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1060,
        200
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "collection": "identities",
        "options": {},
        "query": "={\"name\": \"{{$node[\"Webhook\"].json[\"body\"][\"author\"]}}\"}"
      },
      "name": "Fetch Identity",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        40,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "author",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"author\"]}}"
            },
            {
              "name": "signature",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"signature\"]}}"
            },
            {
              "name": "publicKey",
              "value": "={{$data[\"publicKey\"]}}"
            },
            {
              "name": "data",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"data\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        260,
        440
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Identity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Insert Into Current Transactions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Invalid Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Current Transactions": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Identity": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-08T16:20:53.661Z",
  "updatedAt": "2021-12-14T23:27:20.596Z",
  "settings": {},
  "staticData": null
}]
