workflows/15.json
[{
  "id": 15,
  "name": "Mine new Block",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "collection": "currentTransactions",
        "options": {}
      },
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1620,
        380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\nconst previousHash = $items(\"Get Metadata of Previous Block\")[0].json.hash;\nconst number= $items(\"Get Metadata of Previous Block\")[0].json.number + 1;\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nconst transactions= [];\nfor (item of items) {\n  delete item.json._id;\n  transactions.push(item.json);\n}\n\nreturn [{json: {payload: {transactions: transactions}, previousHash: previousHash, number: number, createdAt: new Date()}}];\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2040,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "14"
      },
      "name": "Get Metadata of Previous Block",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1420,
        380
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "blocks",
        "fields": "payload, signature, hash, createdAt, publicKey, number, nonce, previousHash",
        "options": {}
      },
      "name": "Insert Block",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2560,
        240
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "currentTransactions",
        "query": "={{$json[\"query\"]}}"
      },
      "name": "Delete Current Transactions",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2940,
        240
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "5"
      },
      "name": "Sign Block",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2380,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "18"
      },
      "name": "Proof of Work",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2220,
        240
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "runningOperations",
        "query": "{\"type\": \"mining\"}"
      },
      "name": "Remove Mining Lock",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        3220,
        380
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [],
          "boolean": [
            {
              "value1": "={{$data[\"data\"]!==undefined}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check Transactions Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1820,
        380
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "functionCode": "return [{\n            json: {\n                query: \"{\\\"signature\\\": {\\\"$in\\\": [\" + $items(\"MongoDB\").map(function (item) { return \"\\\"\" + item.json.signature + \"\\\"\"; }).join(\",\") + \"]}}\"\n            }\n        }\n    ];"
      },
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2740,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "21"
      },
      "name": "Check Process Is Running",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "name": "Set Process Is Running",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1140,
        420
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "type",
              "value": "mining"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Type Mining",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        520,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$data[\"processIsRunning\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Is Running",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        400
      ]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Set Type Mining",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Check Transactions Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Proof of Work",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Metadata of Previous Block": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Block": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sign Block": {
      "main": [
        [
          {
            "node": "Insert Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proof of Work": {
      "main": [
        [
          {
            "node": "Sign Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Current Transactions": {
      "main": [
        [
          {
            "node": "Remove Mining Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Transactions Exist": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Mining Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Delete Current Transactions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Process Is Running": {
      "main": [
        [
          {
            "node": "If Is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Process Is Running": {
      "main": [
        [
          {
            "node": "Get Metadata of Previous Block",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Type Mining": {
      "main": [
        [
          {
            "node": "Check Process Is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Is Running": {
      "main": [
        [],
        [
          {
            "node": "Set Process Is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-08T18:59:01.111Z",
  "updatedAt": "2021-12-10T21:19:20.046Z",
  "settings": {},
  "staticData": null
}]
