workflows/16.json
[{
  "id": 16,
  "name": "Fetch All Blocks From Node",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        220,
        260
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "top",
              "value": 100
            },
            {
              "name": "skip",
              "value": {}
            }
          ],
          "string": [
            {
              "name": "endpoint",
              "value": "={{$node[\"Start\"].json[\"endpoint\"] || \"192.168.188.20:55780\"}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Top and Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        740,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$data.length > 0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1420,
        260
      ]
    },
    {
      "parameters": {
        "functionCode": "// return [{json: items[0].json[0]},{json: items[0].json[1]}];\nreturn items[0].json.map(function (item) { return {json: item}; });\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1580,
        60
      ]
    },
    {
      "parameters": {
        "url": "=http://{{$data[\"endpoint\"]}}/webhook/getBlocksPaginated?top={{$json[\"top\"]}}&skip={{$json[\"skip\"]}}&reverse=true",
        "options": {},
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "Fetch Batch Of Blocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1220,
        260
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "endpoint",
              "value": "={{$node[\"Set Top and Skip\"].json[\"endpoint\"]}}"
            }
          ],
          "number": [
            {
              "name": "top",
              "value": "={{$node[\"Set Top and Skip\"].json[\"top\"]}}"
            },
            {
              "name": "skip",
              "value": "={{($node[\"Set\"].json[\"skip\"]+$node[\"Set\"].json[\"top\"]) || 2}}"
            }
          ],
          "boolean": []
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        980,
        260
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "newBlocks",
        "fields": "number,hash,previousHash,payload,nonce,createdAt,publicKey,signature",
        "options": {
          "dateFields": "createdAt"
        }
      },
      "name": "Insert Into Temp Collection",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2160,
        60
      ],
      "executeOnce": true,
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {
          "reset": "={{$data[\"Reset\"]}}"
        }
      },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1980,
        60
      ]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "Reset",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1780,
        60
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "newBlocks"
      },
      "name": "MongoDB",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        480,
        260
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Top and Skip": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Batch Of Blocks": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Fetch Batch Of Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Into Temp Collection": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Insert Into Temp Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB": {
      "main": [
        [
          {
            "node": "Set Top and Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-08T21:41:04.719Z",
  "updatedAt": "2022-01-30T17:51:30.688Z",
  "settings": {},
  "staticData": null
}]
