workflows/18.json
[{
  "id": 18,
  "name": "Proof of Work",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"hash\"].startsWith('000')}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proofOfWork",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        500
      ],
      "webhookId": "9eb9e439-58fe-4099-83ea-419f554344e7"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "nonce",
              "value": "={{$data[\"nonce\"] + 1}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Increase Nonce",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        920,
        540
      ]
    },
    {
      "parameters": {
        "functionCode": "// Code here will run only once, no matter how many input items there are.\n// More info and help: https://docs.n8n.io/nodes/n8n-nodes-base.function\n\n// Loop over inputs and add a new field called 'myNewField' to the JSON of each one\nfor (item of items) {\n  item.json.nonce = 0;\n}\n\n// You can write logs to the browser console\nconsole.log('Done!');\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "payload",
              "value": "={{$json[\"body\"][\"payload\"]}}"
            },
            {
              "name": "previousHash",
              "value": "={{$json[\"body\"][\"previousHash\"]}}"
            },
            {
              "name": "createdAt",
              "value": "={{$json[\"body\"][\"createdAt\"]}}"
            }
          ],
          "number": [
            {
              "name": "number",
              "value": "={{$json[\"body\"][\"number\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        400,
        500
      ]
    },
    {
      "parameters": {
        "workflowId": "19"
      },
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "notesInFlow": true,
      "notes": "Currently the hash calculation is outsourced to a separate nodejs application which makes this loop unnecessary. If we used the pure no-code way which is also available in the linked workflow. This loop would be necessary"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Increase Nonce",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increase Nonce": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-09T10:58:38.939Z",
  "updatedAt": "2022-01-30T17:51:08.841Z",
  "settings": {},
  "staticData": null
}]
