workflows/20.json
[{
  "id": 20,
  "name": "Check Network For New Blocks",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -940,
        280
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "type",
              "value": "checkNetwork"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        -740,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": "21"
      },
      "name": "Check Process Is Running",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -540,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$data[\"processIsRunning\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -340,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "name": "Set Process Is Running",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -120,
        300
      ]
    },
    {
      "parameters": {
        "collection": "nodes",
        "options": {},
        "query": "{\"name\": {\"$ne\": \"me\"}}"
      },
      "name": "Get Nodes Apart From Own",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        940,
        300
      ],
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://{{$data[\"endpoint\"]}}/webhook/getLastBlock",
        "options": {
          "batchSize": 1,
          "timeout": 5000
        },
        "headerParametersUi": {
          "parameter": []
        }
      },
      "name": "Fetch Last Block",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1460,
        300
      ],
      "alwaysOutputData": false,
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "14"
      },
      "name": "Get Own Last Block",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1180,
        80
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "functionCode": "const ownLastBlockHash = $items(\"Get Own Last Block\")[0].json.hash;\nconst ownLastBlockNumber = $items(\"Get Own Last Block\")[0].json.number;\nconst hasOwnBlock = !ownLastBlockHash && !ownLastBlockNumber ? false : true;\nconst nodesApartFromOwn = $items(\"Get Nodes Apart From Own\");\nconst lastBlocks = [];\nfor (const block of $items(\"Fetch Last Block\")) {\n  if (block.hasOwnProperty(\"endpoint\")) {\n    continue; // means the http call failed\n  }\n  lastBlocks.push({\n    json: {\n      block: block.json,\n      endpoint: nodesApartFromOwn[$items(\"Fetch Last Block\").indexOf(block)].json.endpoint,\n    }\n  });\n}\nlastBlocks.push({\n  json: {\n    endpoint: \"me\",\n    block: $items(\"Get Own Last Block\")[0].json,\n  }\n});\n\nlet maxBlock;\nlet hasConflict = false;\nfor (const lastBlock of lastBlocks) {\n  if (!maxBlock) {\n    maxBlock = lastBlock;\n  }\n  \n  if (maxBlock.json.block.number === undefined || maxBlock.json.block.number !== undefined && lastBlock.json.block.number !== undefined && lastBlock.json.block.number > maxBlock.json.block.number) {\n    maxBlock = lastBlock;\n  }\n  if (maxBlock.json.block.number && lastBlock.json.block.number && lastBlock.json.block.number === maxBlock.json.block.number && lastBlock.json.block.hash !== maxBlock.json.block.hash) {\n    hasConflict = true;\n  }\n}\n\nif (hasConflict || maxBlock.json.endpoint=== \"me\" || maxBlock.json.block.hash === ownLastBlockHash) {\n  return [];\n} else {\n  return [maxBlock];\n}\n"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1660,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "16"
      },
      "name": "Get Blocks From Node",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2040,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "23"
      },
      "name": "Check Is Valid Blockchain",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2240,
        300
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$data[\"isInvalid\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "runningOperations",
        "query": "{\"type\": {\"$in\": [\"checkNetwork\", \"mining\"]}}"
      },
      "name": "Remove Lock",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        1120
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -940,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Object.values($data).length !== 0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Check If Not Empty",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{Object.values($data).length !== 0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1860,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "type",
              "value": "mining"
            }
          ]
        },
        "options": {}
      },
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        80,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "http://nodeworkaround:3000/renameBlocksCollection",
        "options": {}
      },
      "name": "Rename Blocks Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2720,
        660
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "newBlocks"
      },
      "name": "Delete New Blocks",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        -40
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "newIdentities"
      },
      "name": "Delete New Identities",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        2720,
        180
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "PATCH",
        "url": "http://nodeworkaround:3000/renameIdentitiesCollection",
        "options": {}
      },
      "name": "Rename Identities Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        2720,
        900
      ]
    },
    {
      "parameters": {
        "workflowId": "25"
      },
      "name": "Add Transactions Of Last Block Back To Queue",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2720,
        440
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": "21"
      },
      "name": "Check Process Is Running1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$data[\"processIsRunning\"]}}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "name": "Lock Mining",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        700,
        320
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Check Process Is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Process Is Running": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [],
        [
          {
            "node": "Set Process Is Running",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Process Is Running": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Nodes Apart From Own": {
      "main": [
        [
          {
            "node": "Check If Not Empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last Block": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "IF2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Blocks From Node": {
      "main": [
        [
          {
            "node": "Check Is Valid Blockchain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Is Valid Blockchain": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "Delete New Blocks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Transactions Of Last Block Back To Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Not Empty": {
      "main": [
        [
          {
            "node": "Fetch Last Block",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF2": {
      "main": [
        [
          {
            "node": "Get Blocks From Node",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Check Process Is Running1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete New Blocks": {
      "main": [
        [
          {
            "node": "Delete New Identities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete New Identities": {
      "main": [
        [
          {
            "node": "Remove Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Blocks Collection": {
      "main": [
        [
          {
            "node": "Rename Identities Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Identities Collection": {
      "main": [
        [
          {
            "node": "Remove Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Transactions Of Last Block Back To Queue": {
      "main": [
        [
          {
            "node": "Rename Blocks Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Process Is Running1": {
      "main": [
        [
          {
            "node": "IF3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF3": {
      "main": [
        [],
        [
          {
            "node": "Lock Mining",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lock Mining": {
      "main": [
        [
          {
            "node": "Get Own Last Block",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Nodes Apart From Own",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-10T20:45:03.101Z",
  "updatedAt": "2022-01-30T17:50:49.301Z",
  "settings": {},
  "staticData": null
}]
