workflows/6.json
{
  "id": 6,
  "name": "Join Network",
  "active": true,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "joinNetwork",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        540
      ],
      "webhookId": "4343d6b5-838f-413e-8c29-829b9c4c7649"
    },
    {
      "parameters": {
        "collection": "nodes",
        "options": {},
        "query": "{\"name\": \"me\"}"
      },
      "name": "Get Own Node",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        860,
        400
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=http://{{$node[\"Webhook\"].json[\"body\"][\"endpoint\"]}}/webhook/addNode",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "endpoint",
              "value": "={{$data[\"endpoint\"]}}"
            }
          ]
        }
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1060,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "endpoint",
              "value": "={{$node[\"Webhook\"].json[\"body\"][\"endpoint\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1240,
        400
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "nodes",
        "fields": "name, endpoint",
        "options": {
          "dateFields": "createdAt"
        }
      },
      "name": "Insert Node",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        1600,
        400
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "value": "endpoint",
        "dataPropertyName": "name"
      },
      "name": "Crypto",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        1420,
        400
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "nodes",
        "query": "{\"name\": {\"$ne\": \"me\"}}"
      },
      "name": "Delete Nodes Except Own",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        540,
        300
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "blocks"
      },
      "name": "Delete All Blocks",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        540,
        760
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "collection": "identities",
        "query": "{\"name\": {\"$ne\": \"me\"}}"
      },
      "name": "Delete Identities Except Own",
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1,
      "position": [
        540,
        540
      ],
      "credentials": {
        "mongoDb": {
          "id": "1",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Delete Nodes Except Own",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete All Blocks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Identities Except Own",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Own Node": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Insert Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Node": {
      "main": [
        []
      ]
    },
    "Delete Nodes Except Own": {
      "main": [
        [
          {
            "node": "Get Own Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Identities Except Own": {
      "main": [
        [
          {
            "node": "Get Own Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete All Blocks": {
      "main": [
        [
          {
            "node": "Get Own Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-12-05T21:07:47.673Z",
  "updatedAt": "2021-12-06T13:20:23.402Z",
  "settings": {},
  "staticData": null
}